<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:true,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;,&quot;GRID_TYPE&quot;:&quot;RegularGrid,20&quot;}">
  <meta charset="UTF-8" name="vaadin-version" content="7.7.0">
 </head> 
 <body> 
  <vaadin-form-layout caption="Start Time" responsive immediate width="580px" height="358px" margin> 
   <vaadin-text-field caption="Name" width="230px"></vaadin-text-field> 
   <vaadin-list-select caption="Skill" width="230px" height="59px"> 
    <option>Option 1</option> 
    <option>Option 2</option> 
    <option>Option 3</option> 
   </vaadin-list-select> 
   <vaadin-text-field caption="Start Time" width="88px"></vaadin-text-field> 
   <vaadin-text-field caption="End Time" width="88px"></vaadin-text-field> 
   <vaadin-button plain-text>
     Add 
   </vaadin-button> 
  </vaadin-form-layout>  
 </body>
</html>